Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: @@DEPENDS@@
Recommends: @@RECOMMENDS@@
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: OpenDev Team <hello@opendev.dev>
Homepage: https://github.com/opendev/opendev
Installed-Size: @@INSTALLEDSIZE@@
Provides: opendev-@@NAME@@
Conflicts: opendev-@@NAME@@
Replaces: opendev-@@NAME@@
Description: Code editing. Redefined.
 OpenDev is a new choice of tool that combines the simplicity of
 a code editor with what developers need for the core edit-build-debug cycle.
 See https://github.com/opendev/opendev for installation
 instructions and FAQ.
