Template: @@NAME@@/add-opendev-repo
Type: boolean
Default: false
Description: Add OpenDev apt repository for OpenDev?
 The installer can add an OpenDev apt repository and signing key
 to update OpenDev through apt.
